<header className="app-header">
  <ui5-shellbar
      id="shellbar"
      primary-title="Corporate Portal"
      secondary-title="secondary title"
      logo="http://veui5infra.dhcp.wdf.sap.corp:8080/sapui5-sdk-dist/test-resources/sap/tnt/images/SAP_Logo.png"
      profile="http://veui5infra.dhcp.wdf.sap.corp:8080/sapui5-sdk-dist/test-resources/sap/tnt/images/avatar.png"
      notification-count="99+"
      show-notifications
      show-product-switch
      show-co-pilot
    >

  <!-- <ui5-shellbar-item id="disc" src="sap-icon://disconnected" text="Disconnect"></ui5-shellbar-item>
	<ui5-shellbar-item id="call" src="sap-icon://incoming-call" text="Incoming Calls"></ui5-shellbar-item>
  -->
  <ui5-icon class="samples-margin" src="sap-icon://menu" slot="icon" 
	  style="width:3rem;height:3rem;font-size:1.5rem;color:#fff;background-color:#354a5f"
	  (ui5-press)="handleClickMenu()"></ui5-icon>

	<ui5-input slot="searchField"></ui5-input>
  <ui5-icon src="sap-icon://activities"></ui5-icon>
	<ui5-li slot="menuItems">Application 1</ui5-li>
	<ui5-li slot="menuItems">Application 2</ui5-li>
	<ui5-li slot="menuItems">Application 3</ui5-li>
	<ui5-li slot="menuItems">Application 4</ui5-li>
	<ui5-li slot="menuItems">Application 5</ui5-li>

</ui5-shellbar>

<ui5-popover id="popover" placement-type="Bottom">
	<div class="popover-header">
		<ui5-title style="padding: 0.25rem 1rem 0rem 1rem">An Kimura</ui5-title>
	</div>

	<div class="popover-content">
		<ui5-list separators="None" >
			<ui5-li icon="sap-icon://sys-find">App Finder</ui5-li>
			<ui5-li icon="sap-icon://settings">Settings</ui5-li>
			<ui5-li icon="sap-icon://edit">Edit Home Page</ui5-li>
			<ui5-li icon="sap-icon://sys-help">Help</ui5-li>
			<ui5-li icon="sap-icon://log">Sign out</ui5-li>
		</ui5-list>
	</div>
</ui5-popover>

<script>
	shellbar.addEventListener("profileClick", function(event) {
		popover.openBy(event.detail.targetRef);
	});

</script>

</header>

