
<div class="fd-shell fd-shell--fundamentals">
    <div class="fd-shell__header">
        <app-header (pressMenu)="clickMenu($event)"></app-header>
    </div>
    <div class="fd-shell__app">
        <div class="fd-app">
            <div class="fd-app__navigation fd-app__navigation">
                <app-side-nav [sideNavs]="sideNavs" [expanded]="expanded" (pressSideNav)="clickSideNav($event)"></app-side-nav>
            </div>
            <main class="fd-app__main">
                <router-outlet></router-outlet>                
            </main>
        </div>
    </div>   
</div>
